!!!
%html
  %head
    %title ActiveAdmin
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar
      #b-navbar
        #b-navbar-bg{style: "z-index:-1"}
        .center
          //%p.notice= notice
          //%p.alert= alert
        .align-right
          - if current_admin_user
            = current_admin_user.email
            |
            \#{link_to "Sign out", destroy_admin_user_session_path, :method => "delete"}
    #container
      #header-2
        .titlewrapper
          %h1.title
            RoR Magick
        .descriptionwrapper
          %p.description
            %span Ruby on Rails thoughts and magic's !!!
      .main-content.clearfix
        .content
          = yield
        .sidebar
          = render 'shared/sidebar'
      .footer
        = render 'shared/footer'    
      
